/*全体のスタイル（CSSリセット用）*/
*{
    /* padding,borderが要素の中に入る */
    box-sizing:border-box;
}
ul{
    /* リストの・を消す */
    list-style: none;
    margin:0;
}

h1,h2,h3,h4,h5,h6,p,span,button{
    margin:0;
    padding:0;
    font-weight:normal;
}

a{
    color:inherit;
    /* 文字の下の線を消す */
    text-decoration:none;   
}

body{
    color:#555;
    margin:0;
    line-height:1.6;
}
/* header */
header{
    /*　子要素を横並びに　*/
    display:flex;
    /* 子要素を親要素の両端へ　*/
    justify-content:space-between;
    padding:0 20px;
    color:#fff;
    /*　背景色をblackにしてきれいに表示されていたらblackをinheritに変更　*/
    background-color:black;
    z-index: 10;
} 
.header-logo{
    padding: 20px 0;
    font-weight:bold;
    font-size: 18px;
}

.header-nav ul{
    display:flex;
    padding:22px 0;
}
.header-nav li{
    margin-left: 55px;
    font-size: 15px;
}



/* first-viewのスタイル */
#first-v{
    height: 770px; 
    background-image: url("../img/bg1.png");  
    background-size: cover;
}

.first-v-wrap{
    padding: 285px 0 255px;
    margin: 0 auto;
    width: 250px;
    text-align: center;
}

/* fvのスタイル*/
.first-v-title{
    margin-bottom: 150px;
    /* 文字を太文字に */
    font-weight: bold;
    font-size: 27px;
    color: #FFF;
 }
 .first-v-title::after{
    display: block;
    content: "";
    width: 100px;
    margin: 20px auto 0;
    /* 線を作る */
    border-top: 1px solid #FFF;
 }
 /*共通パート*/
.first-v-btn {
    width:200px;
    height:50px;
    text-align: center;
    font-weight: bold;
    /* 枠線を消す */
    border:none;
    /* 要素の枠を丸くする */
    border-radius: 5px;
    /* -90degで左から右にグラデーションする */
    background: linear-gradient(-90deg,#283C86,#06BEB6);
    /* 要素に影をつける */
    box-shadow:0px 5px #070707;
    font-weight:bold;
    font-size:15px;
    color:#FFF;
}
/* first-viewのスタイル */
.fa-door-open {
    padding-right:4px;
    margin-right: 4px;
}

/* Aboutセクション */
.inner{
    width: 1100px;
    padding: 90px 0;
    margin: 0 auto;
}

/* 共通パート */
.title{
    font-size: 18px;
    font-style: italic;
}

.title-b{
    font-weight: bold;
}
.title::before{
    display: inline-block;
    width: 30px;
    margin-right: 20px;
    border-top: 1px solid #191919;
    content: "";
}

.title::after{
    display: inline-block;
    width: 30px;
    margin-left: 20px;
    border-top: 1px solid #191919;
    content: "";
}

.title{
    display: flex;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 18px;
    text-align: center;
}

#about{
    color: #191919;
    background: color #f8f8f8;;
}
.about-wrap{
    display:flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.about-item{
    width: 350px;
    height: 315px;
    padding: 35px 50px 50px;
    text-align: center;
    background-color: #FFF;
}
.about-item:nth-child(n+4):nth-child(-n+6){
    margin-top: 47px;
}

.about-item-title{
    font-size: 22px;
}

.about-item_img img{
    width: 122px;
    height: 122px;
    margin: 20px 0 25px;
}
.about-item_desc{
    font-size: 13px;
}

/* Newsセクション */
#news{
    width: 100%;
    background-image: url("../img/bg2.png");
    background-size: cover;
}
.white-title{
    color: #FFF;
}
.white-title::before{
    content: "";
    width: 30px;
    margin-right: 20px;
    border-top: 1px solid #fff;
}

.white-title::after{
    content: "";
    width: 30px;
    margin-left: 20px;
    border-top: 1px solid #fff;
}

.news-wrap{
    display: flex;
    justify-content: space-between;
}

.news-item{
    width: 336px;
    margin-top: 60px;
}

.news-img{
    width: 100%;
    height: 207px;
}

.news-img img{
    width: 100%;
    height: 100%;
}
.news-content{
    padding: 20px;
    background-color: #fff;
}

.news-date{
    font-size: 10px;
    font-weight: bold;
}

.news-title{
    padding: 8px 0 20px;
    font-weight: bold;
    font-size: 14px;
}
.news-txt{
    font-size: 12px;
}

#entry{
    background-color: #FFF;
}

.entry-wrap{
    padding: 175px 0;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.entry-title{
    margin-bottom: 55px;
    font-weight: bold;
    font-size: 18px;
    color: #191919;
}

entry-btn{
    width: 320px;
}

#contact{
    background-image: url("../img/bg3.png");
    background-size: cover;
    color: #fff;
}
.contact-wrap{
    width: 600px;
    margin: 0 auto;
}
#contact .title::before,#contact .title::after{
    border-color: #fff;
}

.contact-caution{
    margin: 60px 0 25px;
}

.contact-box{
    margin-bottom: 33px;
}

.contact-text{
    margin-bottom: 10px;
    font-size: 15px;
}
input,textarea,select{
    width: 100%;
    border-radius: 7px;
    padding: 15px;
}
textarea{
    height: 185px;
}

.contact-box:nth-of-type(4){
    margin-bottom: 0px;
}
select{
    appearance: none;
}

.contact-box:nth-of-type(3){
    position: relative;
}

.contact-box:nth-of-type(3)::after{
    position: absolute;
    background: url("../img/arrow.png");
    background-size: 100%;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    top: 60%;
    right: 15px;
}

.red{
    color: red;
    margin-right: 8px;
}

.caution-red{
    margin-left: 0;
    margin-right: 8px;
}
footer{
    height:50px;
    color:#fff;
    /*　背景色をblackにしてきれいに表示されていたらblackをinheritに変更　*/
    background-color: black;
}

.company-info{
    text-align: center;
    font-weight:bold;
    font-size: 12px;
    color:#FFF;
    line-height: 50px;
}